* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  max-width: 1400px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

input,
select {
  border: none;
  border-radius: 4px;
}

a {
  cursor: pointer;
}

.btn-icon {
  font-size: 1.2rem;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  padding: 0 0.15rem;
}

.btn:focus {
  border: none;
}

.form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* ---- NavBar ----- */
.navbar {
  z-index: 1;
  background-color: #31d4ea;
  width: 100%;
}

.navbar .btn-icon:hover {
  color: #ededed;
}

.navbar-toggler {
  font-size: 1rem;
}

/* ---- Auto Search ----- */

#auto-search {
  position: relative;
  color: #fff;
  padding: 1rem 2rem;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #127596, #31d4ea);
  height: calc(100vh - 59px);
  width: 100%;
  overflow-x: hidden;
}

fieldset,
legend,
#fieldset-inputs input,
select,
label,
#auto-search-btn,
#close-tabs-btn {
  font-family: sans-serif;
}

fieldset,
legend,
#fieldset-inputs input,
select {
  font-size: 1.2rem;
}
#auto-search-btn,
#close-tabs-btn {
  font-size: 1rem;
}

#auto-search-form {
  display: flex;
  align-items: start;
  gap: 5rem;
  flex-direction: column;
  z-index: 1;
}

#auto-search-form #fildset-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ffffff42;
  border-radius: 0.5rem;
  padding-right: 3rem;
}

#auto-search input,
#search-interval {
  padding: 5px 10px;
}

#auto-search #num-of-searches {
  width: 55px;
}

#auto-search input,
#search-interval {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
}

#auto-search input:focus,
#search-interval:focus {
  outline: none;
}

#auto-search #close-tabs-btn {
  display: none;
}

.changing-values {
  color: #adff81;
}

/* Processing Tabs */
#processing-tabs {
  display: none;
  align-items: start;
  flex-direction: column;
  z-index: 1;
}

/* Medal Image */
#medal-img-holder {
  width: 40%;
}

#medal {
  margin: auto;
  width: 300px;
}

/* Waves */
#waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

#waves svg {
  position: relative;
  display: block;
  width: 1400px;
  height: 70px;
}

#waves .shape-fill {
  fill: #31d4ea;
}

/* ---- Making the Site Responsive ----- */
@media (max-width: 880px) {
  #medal-img-holder {
    display: none;
  }
}

@media (max-width: 540px) {
  #auto-search {
    min-height: 50vh;
  }
  #auto-search-form {
    gap: 2rem;
  }
  #waves {
    width: 1000px;
    right: 0;
  }
  #auto-search-btn,
  #close-tabs-btn,
  .btn {
    font-size: 0.8rem;
  }
  .navbar .btn-nav {
    margin: 0;
  }
  #auto-search #fildset-inputs input,
  #auto-search #fildset-inputs select {
    font-size: 0.8rem;
  }
  fieldset,
  legend {
    font-size: 1.1rem;
  }
  fieldset,
  .form-check-label {
    padding: 0.5rem 0.5rem;
  }
  legend {
    padding: 0.2rem;
  }
}

@media (max-width: 410px) {
  #processing-tabs {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  legend,
  fieldset,
  .form-check-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 345px) {
  #auto-search {
    padding-top: 2rem;
  }
  #auto-search-btn,
  #close-tabs-btn,
  .btn {
    font-size: 0.9rem;
  }
}
