* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-family: monospace;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#search {
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

#word {
  font-size: 3rem;
}

.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: #e02605;
  z-index: 0;
}

.navbar .btn,
#close-btn {
  background-color: #fff;
  color: #000;
}

#close-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  display: none;
  z-index: 2;
}

#history,
#auto-search {
  position: absolute;
  top: 0%;
  width: 100%;
  min-height: 100%;
  background-color: #333;
  color: #fff;
  display: none;
  font-size: 1.4rem;
  flex-direction: column;
  padding: 1rem;
  z-index: 1;
}

#history {
  justify-content: flex-start;
  align-items: start;
  padding-top: 3rem;
}

#history ol {
  list-style-position: inside;
}

#auto-search {
  justify-content: center;
  align-items: start;
}

#auto-search-form {
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

fieldset {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  width: 100%;
}

legend {
  margin-right: 3rem;
  padding: 0.2rem;
}

#auto-search input,
#search-interval,
.btn {
  border: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  font-family: monospace;
}

#auto-search input,
#search-interval {
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
}

#auto-search input:focus,
#search-interval:focus {
  outline: none;
}

#auto-search .btn {
  color: #fff;
}

#auto-search-btn {
  background-color: #0a950a;
}

.changing-values {
  color: #adff81;
}

.btn {
  background-color: steelblue;
  cursor: pointer;
}

/* Processing Tabs */
#processing-tabs {
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

#stop-auto-search {
  background-color: #ff1500;
}
/* Making the Site Responsive */

@media (max-width: 540px) {
  fieldset {
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
  }
  legend {
    margin-right: 1rem;
    padding: 0.2rem;
  }
}

@media (max-width: 410px) {
  fieldset {
    font-size: 1rem;
  }
  #history {
    font-size: 1rem;
  }
  #word {
    font-size: 2.5rem;
  }
}

@media (max-width: 345px) {
  #word {
    font-size: 2rem;
  }
  #search {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}
